body {
    font: normal 14px/150% calibri, Arial, Helvetica, sans-serif;

    background-attachment: fixed;
    background-position: center;
}

.header {
    background-color: #ffffff;
    color: black;
    font: bold 22px calibri, Arial, Helvetica, sans-serif;
    height: 50px;
    padding: 10px;

}

.title {
    color: #290e88;
    font: bold 14px calibri, Arial, Helvetica, sans-serif;
}

.center {
    margin: 0 auto;
    text-align: center;
}

input.form-control.text-center {
    width: 500px !important;
}

.form-inline .form-control .text-center {
    text-align: center;
}

.btn-aqua {
    background-color: #7157cc;
}

.btn-aqua.active, .btn-aqua.focus, .btn-aqua:active, .btn-aqua:focus, .btn-aqua:hover, .open > .dropdown-toggle.btn-aqua {
    background-color: #290e88;
}

.btn, .btn.focus, .btn:focus, .btn:hover {
    color: #f4f3fa;
}

input.form-control {
    background-color: transparent;
    border: 1px solid #290e88;
    color: #290e88;
    padding: 3px 10px;
}

.navbar-default .navbar-nav {
    background-color: white;
    height: 100%;
    width: 155px;
}

.navbar .navbar-logo img {
    max-width: 155px;
    max-height: 65px;
}

.navbar-fixed-left {
    max-width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

a.disabled:hover {
    cursor:not-allowed
}
.progress-bar-info, .progress-bar-blue {
    background-color: #30a5ff;
    background-image: none; }

.progress-bar-warning, .progress-bar-orange {
    background-color: #ffb53e;
    background-image: none; }

.progress-bar-danger, .progress-bar-red {
    background-color: #f9243f;
    background-image: none; }

.progress-bar-teal {
    background-color: #1ebfae;
    background-image: none; }

.color-blue {
    color: #30a5ff; }

.color-teal {
    color: #1ebfae; }

.color-orange {
    color: #ffb53e; }

.color-red {
    color: #f9243f; }

.large {
    font-size: 2em; }

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px; }
.donut {
    width: 100%; }

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto; }

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px; }

#easypiechart-blue .percent {
    color: #30a5ff; }

#easypiechart-teal .percent {
    color: #1ebfae; }

#easypiechart-orange .percent {
    color: #ffb53e; }

#easypiechart-red .percent {
    color: #ef4040; }

.tab-color{
    color: black;
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}