<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Add Suppliers</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>
<div id="wrapper" style="background-color: #014189">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Supplier Account Records</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">
                                <!--<label>Display Sales From:</label>
                                <select class="form-control">
                                    <option>Today</option>
                                    <option>The past 7 days</option> Line 39 lang yung error ko
                                    <option>The past 30 days</option>
                                    <option>The past year</option>
                                </select>-->
                                <!--<button type="button" onclick="" class="btn btn-primary" style="float:right">Add New
                                    User
                                </button>-->
                                <h4 class="page-wrapper">New Supplier</h4>
                            </div>
                            <!-- OKS NA!!!!-->

                        </form>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <form  role="form" th:object="${newSupplier}" th:action="@{/addNewSupplier}" method="post">
                            <br/>
                            <div >
                                <label style="color: black">Material Id</label>
                                <select th:field="*{material_type}">
                                    <option th:each="materials : ${materialList}"
                                            th:text="${materials.material_type}"
                                            th:value="${materials.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label style="color: black">Supplier Name *</label>
                                <input class="form-control" placeholder="Supplier Name" th:field="*{supp_name}" th:required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="color: black">Supplier Address *</label>
                                <input class="form-control" placeholder="Supplier Address" th:field="*{supp_address}" th:required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="color: black">Supplier Email *</label>
                                <input class="form-control" placeholder="Supplier Email" th:field="*{supp_email}" th:required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="color: black">Supplier Contact No *</label>
                                <input class="form-control" placeholder="Supplier Contact No" th:field="*{supp_contact_no}" th:required="required"/>
                            </div>
                            <div class="form-group">
                                <label style="color: black">Supplier Contact Person *</label>
                                <input class="form-control" placeholder="Supplier Contatct Person" th:field="*{supp_contact_person}" th:required="required"/>
                            </div>
                            <button th:type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

<script type="text/javascript" th:inline="javascript">
    var map = /*[[${bottleSalesRecord}]]*/ [];

    function downloadCSV(args) {
        var data, filename, link;
        var csv = convertArrayOfObjectsToCSV({
            data: map
        });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }

    function convertArrayOfObjectsToCSV(args) {
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function (item) {
            ctr = 0;
            keys.forEach(function (key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }
</script>
</body>
</html>