<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Budget</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="../../static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.min.css"/>
    <script>
        $(document).ready(function () {
            $('#tableJan').DataTable();
            $('#tableFeb').DataTable();
            $('#tableMarch').DataTable();
            $('#tableMay').DataTable();
            $('#tableJune').DataTable();
            $('#tableJuly').DataTable();
            $('#tableAugust').DataTable();
            $('#tableSept').DataTable();
            $('#tableOct').DataTable();
            $('#tableNov').DataTable();
            $('#tableDec').DataTable();
        });
    </script>
</head>
<body>

<div id="wrapper" style="background-color: #014189">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!--ETO SIMULA NG PAGE-->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Budget</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">
                                <label style="color:#000;font-weight: 500">Budget</label>

                            </div>
                            <!-- OKS NA!!!!-->
                        </form>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="container-fluid">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" class="tab-color" href="#January">January</a>
                                </li>
                                <li><a data-toggle="tab" class="tab-color" href="#February">February</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#March">March</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#April">April</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#May">May</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#June">June</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#July">July</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#August">August</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#September">September</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#October">October</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#November">November</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#December">December</a></li>
                                <li><a data-toggle="tab" class="tab-color" href="#Total">Total</a></li>
                            </ul>
                            <br/>
                            <div class="tab-content">
                                <div id="January" class="tab-pane fade in active">
                                    <table id="tableJan" width="100%" class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="january : ${januaryMaterials}">
                                                <td th:text="${january.materialId}"></td>
                                                <td th:text="${january.qty}"></td>
                                                <td th:text="${january.materialUnit}"></td>
                                                <td th:text="${january.materialDesc}"></td>
                                                <td th:text="${january.price}"></td>
                                                <td th:text="${january.total_budget_material}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="February" class="tab-pane fade">
                                    <table id="tableFeb" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="feb : ${februaryMaterials}">
                                            <td th:text="${feb.materialId}"></td>
                                            <td th:text="${feb.qty}"></td>
                                            <td th:text="${feb.materialUnit}"></td>
                                            <td th:text="${feb.materialDesc}"></td>
                                            <td th:text="${feb.price}"></td>
                                            <td th:text="${feb.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="March" class="tab-pane fade">
                                    <table id="tableMarch" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${marchMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="April" class="tab-pane fade">
                                    <table id="tableApril" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${aprilMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="May" class="tab-pane fade">
                                    <table id="tableMay" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${mayMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="June" class="tab-pane fade">
                                    <table id="tableJune" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${juneMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="July" class="tab-pane fade">
                                    <table id="tableJuly" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${julyMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="August" class="tab-pane fade">
                                    <table id="tableAugust" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${augustMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="September" class="tab-pane fade">
                                    <table id="tableSept" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${septMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="October" class="tab-pane fade">
                                    <table id="tableOct" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${octMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="November" class="tab-pane fade">
                                    <table id="tableNov" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${novMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="December" class="tab-pane fade">
                                    <table id="tableDec" width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Budget</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="january : ${decMaterials}">
                                            <td th:text="${january.materialId}"></td>
                                            <td th:text="${january.qty}"></td>
                                            <td th:text="${january.materialUnit}"></td>
                                            <td th:text="${january.materialDesc}"></td>
                                            <td th:text="${january.price}"></td>
                                            <td th:text="${january.total_budget_material}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="Total" class="tab-pane fade">
                                    <table width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Material</th>
                                            <th>Balance</th>
                                            <th>Total Balance</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd gradeX">
                                            <td>panagalan nang material</td>
                                            <td>natitirang pera</td>
                                            <td>Total nagn nagastos</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>

        <!-- /#page-wrapper -->
    </div>

    <!--<script type="text/javascript" th:inline="javascript">
        $("#btnAddColumn").on("click", function () {
            console.log("CLICKED");
        });
    </script>-->
</div>
</body>
</html>