<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Create Purchase Order</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#poDate").datepicker({
                dateFormat: 'MM dd, yy'
            });
        });
    </script>

</head>
<body>a

<div id="wrapper" style="background-color: #014189">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create Purchase Order</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">

                                <label style="color: black">Create Purchase Order</label>
                            </div>
                            <!-- OKS NA!!!!-->

                        </form>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" th:object="${pr}">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <div class="col-md-6" style="margin-bottom: 10px">
                                <label id="lblRequestId" style="color: black; font-weight: 500; float: left;">Ref. PR No. : <span id="spanId"
                                        th:text="*{requestId}"></span></label>
                            </div>
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th>Employee ID</th>-->
                            <!--<th>Name</th>-->
                            <!--<th>Email</th>-->
                            <!--<th>Action</th>-->
                            <!--&lt;!&ndash;<th>Cost per Bottle</th>-->
                            <!--<th>No. of Slim</th>-->
                            <!--<th>Cost per Bottle</th>-->
                            <!--<th>Total Cost</th>&ndash;&gt;-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tbody>
                            <tr class="odd gradeX">
                                <td>
                                    <center>Supplier Name *</center>
                                    <center><select id="selectedAccountType">
                                        <option class="optionsSelected" th:each="materialTypeObj  : ${supplier}"
                                                th:text="${materialTypeObj.supp_name}"
                                                th:value="${materialTypeObj.supp_id}">
                                        </option>
                                    </select></center>
                                </td>
                                <td colspan="2">
                                    <center>Supplier Address *</center>
                                    <center><input type="text" readonly="readonly" id="suppAddress" th:required="required" style="width: 450px;"/></center>
                                </td>
                                <td colspan="2">
                                    <center>Telephone No. *</center>
                                    <center><input type="text" readonly="readonly" id="suppTel" th:required="required"/></center>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td colspan="2">
                                    <center>Attn *</center>
                                    <center><input type="text" id="attn" th:required="required"/></center>
                                </td>
                                <td>
                                    <center>P.O. Date *</center>
                                    <center><input type="text" id="poDate" th:required="required"/></center>
                                </td>
                                <td>
                                    <center>Terms *</center>
                                    <center><input type="text" id="terms" th:required="required"/></center>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    Delivery Instruction*
                                    <textarea name="text" id="remarks" style="margin: 0px; width: 813px; height: 50px"/>
                                </td>
                            </tr>
                            </tbody>
                            <!--END FIRST TABLE -->
                        </table>


                        <div class="panel-body">
                            <!-- /.panel-body -->
                            <div class="col-lg-12" style="margin-top: 20px">
                                <table class="table1 table-striped table-bordered table-hover"
                                       id="dataTables-example1">

                                    <thead>
                                    <tr class="odd gradeX" style="background: #014189">
                                        <th style="color: white">Material ID</th>
                                        <th style="color: white">Qty Ordered</th>
                                        <th style="color: white">Material Description</th>
                                        <th style="color: white">Total Per Material</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr1 odd gradeX" th:each="materialsData: ${purchaseMaterials}">
                                        <td class="matId" th:text="${materialsData.material_id}"></td>
                                        <td th:text="${materialsData.qty}"></td>
                                        <td th:text="${materialsData.material_desc}"></td>
                                        <td th:text="${materialsData.total_per_material}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-primary" style="float: left;margin-left: 15px;margin-top: 10px;" id="cancel">Cancel</button>
                            <button class="btn btn-primary" style="float: left;margin-left: 8px;margin-top: 10px;" th:type="submit" onclick="sendToBackend()">
                                Submit
                            </button>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    onFuncLoad();

    function onFuncLoad() {
        var selectedOption = $("#selectedAccountType option:selected").val();
        $.ajax({
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            url: '/supplierByName?name=' + selectedOption,
            success: function (response) {
                $("#suppAddress").val(response.supp.supp_address);
                $("#suppTel").val(response.supp.supp_contact_no);
            }
        });
    }
    $("#selectedAccountType").on('change', function (response) {
        var selectedOption = $("#selectedAccountType option:selected").val();
        $.ajax({
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            url: '/supplierByName?name=' + selectedOption,
            success: function (response) {
               $("#suppAddress").val(response.supp.supp_address);
               $("#suppTel").val(response.supp.supp_contact_no);
            }
        });
    });

    function sendToBackend() {

        var requestId = $("#spanId")["0"].innerText;
        var supplierName = $("#selectedAccountType option:selected").val();
        var supplierAddress = $("#suppAddress").val();
        var suppContactNo = $("#suppTel").val();
        var attn = $("#attn").val();
        var poDate = $("#poDate").val();
        var terms = $("#terms").val();
        var remarks = $("#remarks").val();

        console.log("REQUEST ID: " + requestId);
        console.log("SUPPLIER NAME: " + supplierName);
        console.log("SUPPLIER ADDRESS: " + supplierAddress);
        console.log("SUPPLIER CONTACT NO: " + suppContactNo);
        console.log("ATTN: " + attn);
        console.log("PO DATE: " + poDate);
        console.log("TERMS: " + terms);
        console.log("REMARKS: " + remarks);

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/savingPO',
            data: JSON.stringify({
                requestId: requestId,
                createdOn: formatDate(poDate),
                remarks: remarks,
                supplierName: supplierName,
                supplierAddress: supplierAddress,
                supplierContactNo: suppContactNo,
                attn: attn,
                terms: terms
            }),
            success: function (data) {
                alert("Purhcase Request Created Successfully!");
            },
            error: function () {
                alert("FAILED");
            }
        });
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [month, day, year].join('/');
    }

    /*]]>*/

</script>
</body>
</html>