<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>WPPS | Materials </title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="../../static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.min.css"/>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</head>
<body>
<div id="wrapper" style="background-color: #014189">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Material Records</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color:#000;font-weight: 500">Materials</label>
                                <button type="button" onclick="location.href='addMaterial';" class="btn btn-primary"
                                        style="float:right">
                                    <i class="fa fa-plus-square-o fa-fw"></i>
                                    Add New Material
                                </button>
                                <button type="button" onclick="downloadCSV({filename: 'materials.csv'});" class="btn btn-primary" style="float:right; margin-right: 10px;">Generate Report Materials</button>
                            </div>
                        </div>


                            <!-- OKS NA!!!!-->


                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Material ID </th>
                                <th>Material Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" th:each="materialsData: ${materials}">
                                <td th:text="${materialsData.materialId}"></td>
                                <td th:text="${materialsData.materialDesc}"></td>
                                <td th:text="${materialsData.qty}"></td>
                                <td th:text="${#numbers.formatDecimal(materialsData.price,0,'COMMA',2,'POINT')}"></td>
                                <td>
                                    <button><i class="fa fa-edit fa-fw"></i></button>
                                    |
                                    <button><i class="fa fa-trash-o fa-fw"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>-->
                        <!-- /.panel-body -->
                        <table id="table_id" class="table table-striped table-bordered dataTable" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Material ID</th>
                                <th>Material Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" th:each="materialsData: ${materials}">
                                <td th:text="${materialsData.materialId}"></td>
                                <td th:text="${materialsData.materialDesc}"></td>
                                <td th:text="${materialsData.qty}"></td>
                                <td th:text="${#numbers.formatDecimal(materialsData.price,0,'COMMA',2,'POINT')}"></td>
                                <td>
                                    <button><i class="fa fa-edit fa-fw"></i></button>
                                    |
                                    <button><i class="fa fa-trash-o fa-fw"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var map = /*[[${materials}]]*/ [];

    function downloadCSV(args) {
        var data, filename, link;
        var csv = convertArrayOfObjectsToCSV({
            data: map
        });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }

    function convertArrayOfObjectsToCSV(args) {
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function (item) {
            ctr = 0;
            keys.forEach(function (key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }
</script>
</body>
</html>
