<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Approval</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

<div id="wrapper" style="background-color: #014189">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!--ETO SIMULA NG PAGE-->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Approval</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">
                                <label style="color:#000;font-weight: 500">Approval</label>
                            </div>
                            <!-- OKS NA!!!!-->
                        </form>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table style="width: 100%; height: 60px;" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <div class="row">
                                <label style="color: black; font-weight: 500; margin-left: 20px">Search: </label>
                                <input type="text" width="180px" height="30px" placeholder="Search.."/>
                                <label style="color: black; font-weight: 500; ">Filter By: </label>
                                <select style="width: 180px"></select>
                            </div>
                            <br/>
                            <br/>
                            <tbody style="width: 100%; height: auto" th:each="prListing : ${prList}">
                            <tr class="odd gradeX">
                                <td class="col-md-1">
                                    <a th:href="@{'/showApproval?requestId=' + ${prListing.requestId}}"
                                       style="color: black; margin-top: 20px; font-size: small; background-color: yellow; font-weight: 500"
                                       th:text="${prListing.requestId}"></a>
                                    <label style="color: black;font-size: small; font-weight: 500"
                                           th:text="${prListing.status}"></label>
                                </td>
                                <td class="col-md-11">
                                    <label style="color: black;margin-top: 10px; float: left;font-size: small; font-weight: 500">DUE
                                        DATE:
                                    </label>
                                    <label style="color: black;margin-top: 10px; margin-left: 20px;float: left; font-weight: 500" th:text="${prListing.datePickerDue}">
                                    </label>

                                    <label style="color: black;margin-top: 10px; float: right; font-size: large" th:text="'₱'+ ${#numbers.formatDecimal(prListing.total,0,'COMMA',2,'POINT')}">

                                    </label>
                                    <br/>
                                    <hr style="color: black;border-width: 2px;"/>
                                    <label style="color: black;float: left; font-size: small; font-weight: 500">SUBMITTED: </label>
                                    <label style="color: black;float: left; margin-left: 20px; font-weight: 500" th:text="${prListing.datePickerSubmitted}"></label>
                                    <label style="color: black;float: right; font-weight: 500">NEXT APPROVER</label>
                                    <br/>
                                    <br/>
                                    <label style="color: black;float: left;font-size: small; font-weight: 500">DEPARTMENT: </label>
                                    <label style="color: black;float: left; margin-left: 20px; font-weight: 500" th:text="${prListing.requestingDepartMent}"></label>
                                    
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
</body>
</html>