<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AquaJMT | Budget</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div id="wrapper" style="background-color: #014189">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Budget Summary Report</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height: 40px">
                        Account Charge: <label style="color: black" th:text="${accountCharge}"></label>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" th:object="${pr}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group id">
                                    <label style="color: black">Request ID</label>
                                    <input disabled="disabled" class="form-control" placeholder="First Name"
                                           th:field="*{requestId}"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black">Requesting Department</label>
                                    <input disabled="disabled" class="form-control" placeholder="First Name"
                                           th:field="*{requestingDepartMent}"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black">Date Prepared</label>
                                    <input disabled="disabled" class="form-control" placeholder="Last Name"
                                           th:field="*{datePickerSubmitted}"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black">Date Due</label>
                                    <input disabled="disabled" class="form-control" placeholder="Middle Name"
                                           th:field="*{datePickerDue}"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label style="color: black">Account Charge</label>
                                    <input disabled="disabled" class="form-control" placeholder="Middle Name"
                                           th:field="*{accountCharge}"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black">Purchase Type</label>
                                    <input disabled="disabled" class="form-control" placeholder="BirthPlace"
                                           th:field="*{purchaseType}"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black">Status</label>
                                    <input disabled="disabled" class="form-control" placeholder="Citizenship"
                                           th:field="*{status}"/>
                                </div>
                            </div>

                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th class="col-md-1">Item #</th>
                                <th class="col-md-1">Qty</th>
                                <th class="col-md-1">Unit</th>
                                <th class="col-md-5">Description</th>
                                <th class="col-md-2">Total Price</th>
                                <th class="col-md-2">Budget</th>
                                <!--<th>Cost per Bottle</th>
                                <th>No. of Slim</th>
                                <th>Cost per Bottle</th>
                                <th>Total Cost</th>-->
                            </tr>
                            </thead>
                            <tbody th:each="materials : ${purchaseMaterials}">
                            <tr>
                                <td th:text="${materials.material_id}"></td>
                                <td th:text="${materials.qty}"></td>
                                <td th:text="${materials.material_unit}"></td>
                                <td th:text="${materials.material_desc}"></td>
                                <td th:text="${#numbers.formatDecimal(materials.total_per_material,0,'COMMA',2,'POINT')}"></td>
                                <td th:text="${#numbers.formatDecimal(materials.total_budget,0,'COMMA',2,'POINT')}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" style="margin-top: 10px" onclick="location.href='budgetHistory';">Back</button>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
</body>
</html>