<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Users</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="../../static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.min.css"/>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</head>
<body>

<div id="wrapper" style="background-color: #014189">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users Account Records</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color:#000;font-weight: 500">User Accounts</label>
                                <button type="button" onclick="location.href='adduser';" class="btn btn-primary"
                                        style="float:right">
                                    <i class="fa fa-plus-square-o fa-fw"></i>
                                    Add User
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="vertical-alignment-helper">
                            <div class="modal-dialog vertical-align-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true"
                                                class="">×   </span><span
                                                class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table id="table_id" class="table table-striped table-bordered dataTable"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX" th:each="userDetails: ${users}">
                                <td th:text="${userDetails.position}"></td>
                                <td th:text="${userDetails.firstName}"></td>
                                <td th:text="${userDetails.lastName}"></td>
                                <td th:text="${userDetails.email}"></td>
                                <td th:text="${userDetails.contactNo}"></td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i
                                            class="fa fa-edit fa-fw"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<script>

    /*<![CDATA[*/
    var objToPass = [];
    $(".btn[data-target='#myModal']").click(function () {
        var columnHeadings = $("thead th").map(function () {
            return $(this).text();
        }).get();
        columnHeadings.pop();
        var columnValues = $(this).parent().siblings().map(function () {
            return $(this).text();
        }).get();
        var modalBody = $('<div id="modalContent"></div>');
        var modalForm = $('<form id="modalId" role="form" name="modalForm"></form>');
        $.each(columnHeadings, function (i, columnHeader) {
            if(i == 0) {
                console.log("DO NOTHING");
            }else if(i ==3 ) {
                var formGroup = $('<div class="form-group"></div>');
                formGroup.append('<label for="' + columnHeader + '">' + columnHeader + '</label>');
                formGroup.append('<input class="form-control" name="form-Modal" id="' + columnHeader + i + '" value="' + columnValues[i] + '" readonly="readonly" />');
            }else {
                var formGroup = $('<div class="form-group"></div>');
                formGroup.append('<label for="' + columnHeader + '">' + columnHeader + '</label>');
                formGroup.append('<input class="form-control" name="form-Modal" id="' + columnHeader + i + '" value="' + columnValues[i] + '" />');
            }
            modalForm.append(formGroup);
        });
        modalBody.append(modalForm);
        $('.modal-body').html(modalBody);
    });
    $('.modal-footer .btn-primary').click(function () {
        console.log("CLICKED");
        $("form#modalId input").each(function (i,response) {
            objToPass.push(response.value);
        });
        sendBackEnd(objToPass);
    });
    function sendBackEnd(obj){
        var firstName;
        var lastName;
        var email;
        var contactNo;
        firstName = obj[0];
        lastName  = obj[1];
        email     = obj[2];
        contactNo = obj[3];
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/updatingUSER',
            data: JSON.stringify({
                firstName: firstName,
                lastName: lastName,
                email: email,
                contactNo: contactNo
            }),
            success: function (data) {
                alert("User Updated Successfully!");
                window.location.href = "/request";
            },
            error: function () {
                alert("FAILED");
            }
        });
    }
    /*]]>*/
</script>

</body>
</html>