<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WPPS | Purchase Order</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


</head>
<body>

<div id="wrapper" style="background-color: #014189">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--ETO SIMULA NG PAGE-->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Purchase Order History</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <!-- OKS NA!!!!-->
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color:#000;font-weight: 500">Purchase Order</label>
                                <button type="button" onclick="location.href='createPO';" class="btn btn-primary"
                                        style="float: right;">
                                    <i class="fa fa-plus-square-o fa-fw"></i>
                                    Create PO
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table style="width: 100%; height: 60px;" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="color: black; font-weight: 500; margin-left: 20px">Search: </label>
                                    <input type="text" width="180px" height="30px" placeholder="Search.."/>
                                    <label style="color: black; font-weight: 500; ">Filter By: </label>
                                    <select style="width: 180px"></select>

                                </div>
                            </div>
                            <tbody style="width: 100%; height: auto" th:each="prListing : ${prList}">
                            <tr class="odd gradeX">
                                <td class="col-md-1">
                                    <a th:href="@{'/createPO?requestId=' + ${prListing.requestId}}"
                                       style="color: black; margin-top: 20px; font-size: small; background-color: yellow; font-weight: 500"
                                       th:text="${prListing.requestId}"></a>
                                    <label style="color: black;font-size: small; font-weight: 500"
                                           th:text="${prListing.status}"></label>
                                </td>
                                <td class="col-md-11">
                                    <label style="color: black;margin-top: 10px; float: left;font-size: small; font-weight: 500">DUE
                                        DATE:
                                    </label>
                                    <label style="color: black;margin-top: 10px; margin-left: 20px;float: left; font-weight: 500"
                                           th:text="${prListing.datePickerDue}">
                                    </label>

                                    <label style="color: black;margin-top: 10px; float: right; font-size: large"
                                           th:text="'₱'+ ${#numbers.formatDecimal(prListing.total,0,'COMMA',2,'POINT')}">

                                    </label>
                                    <br/>
                                    <hr style="color: black;border-width: 2px;"/>
                                    <label style="color: black;float: left; font-size: small; font-weight: 500">SUBMITTED: </label>
                                    <label style="color: black;float: left; margin-left: 20px; font-weight: 500"
                                           th:text="${prListing.datePickerSubmitted}"></label>
                                    <label style="color: black;float: right; font-weight: 500">NEXT APPROVER</label>
                                    <br/>
                                    <br/>
                                    <label style="color: black;float: left;font-size: small; font-weight: 500">DEPARTMENT: </label>
                                    <label style="color: black;float: left; margin-left: 20px; font-weight: 500"
                                           th:text="${prListing.requestingDepartMent}"></label>

                                </td>
                            </tr>


                            </tbody>
                            <thead>
                            <!--<tr>
                                <th colspan="7">Total Sales</th>
                                <th>P666.00</th>
                            </tr>-->
                            </thead>
                        </table>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    <!--<script type="text/javascript" th:inline="javascript">-->
    <!--var map = /*[[${bottleSalesRecord}]]*/ [];-->

    <!--function downloadCSV(args) {-->
    <!--var data, filename, link;-->
    <!--var csv = convertArrayOfObjectsToCSV({-->
    <!--data: map-->
    <!--});-->
    <!--if (csv == null) return;-->

    <!--filename = args.filename || 'export.csv';-->

    <!--if (!csv.match(/^data:text\/csv/i)) {-->
    <!--csv = 'data:text/csv;charset=utf-8,' + csv;-->
    <!--}-->
    <!--data = encodeURI(csv);-->

    <!--link = document.createElement('a');-->
    <!--link.setAttribute('href', data);-->
    <!--link.setAttribute('download', filename);-->
    <!--link.click();-->
    <!--}-->

    <!--function convertArrayOfObjectsToCSV(args) {-->
    <!--var result, ctr, keys, columnDelimiter, lineDelimiter, data;-->

    <!--data = args.data || null;-->
    <!--if (data == null || !data.length) {-->
    <!--return null;-->
    <!--}-->

    <!--columnDelimiter = args.columnDelimiter || ',';-->
    <!--lineDelimiter = args.lineDelimiter || '\n';-->

    <!--keys = Object.keys(data[0]);-->

    <!--result = '';-->
    <!--result += keys.join(columnDelimiter);-->
    <!--result += lineDelimiter;-->

    <!--data.forEach(function (item) {-->
    <!--ctr = 0;-->
    <!--keys.forEach(function (key) {-->
    <!--if (ctr > 0) result += columnDelimiter;-->

    <!--result += item[key];-->
    <!--ctr++;-->
    <!--});-->
    <!--result += lineDelimiter;-->
    <!--});-->

    <!--return result;-->
    <!--}-->
    <!--</script>-->
</div>
</body>
</html>